<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matrix.env">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />

    <application
        android:label="AppsMatrix"
        android:icon="@android:drawable/ic_menu_compass">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Per-app environment spoofing" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
    </application>
</manifest>
